.header {
    display: flex;
    flex-direction: row;
}

.header-home {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
}

.btn-au {
    width: 90px;
    height: 50px;
    background-color: rgb(189, 253, 228);
    color: black;
    border-color: rgba(253, 189, 219, 0);
    border-radius: 10px 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.hr {
    width: 100%;
}